<div id="click-coin" ng-cloak ng-app>
	<div id="row-1" class="grid">
		<div id="hardware" class="cell col-4"><div>
			<div id="cpu" class="component">
				<span class="amount">+0.1 cc/s</span>
				<strong>CPU</strong> Unicorny Mach I
			</div>
			<div id="cpu" class="component">
				<span class="amount">x1.0 cc/s</span>
				<strong>GPU</strong> iVidia Integrated z100
			</div>
			<div id="cpu" class="component">
				<span class="amount">4MB</span>
				<strong>RAM</strong> Techlong XM
			</div>
		</div></div>
		
		<div id="software" class="cell col-4"><div>
			<div id="miner">
				<span id="mine-button" class="button">Mine</span>
				<span id="program">ClickMiner.exe</span> v1.0 DEMO
				<div class="locked">
					<p>Purchasing a full license will allow ClickMiner.exe to auto mine ClickCoins.</p>
					<span class="button">Purchase License <strong>0.05cc</strong></span>
				</div>
			</div>
		</div></div>
		
		<div id="currency" class="cell col-4"><div>
			<div id="cc">
				<span class="amount">5.0282</span>
				<strong>CC</strong> Click Coins
			</div>
		</div></div>
	</div>
	<div id="row-2" class="grid">
		<div id="company" class="cell col-6"><div>
			<div class="locked">
				<p>A company will allow you to hire researchers to build new hardware and discover new technologies.</p>
				<span class="button">Purchase Company Ledger | 0.5cc</span>
			</div>
		</div></div>
		
		<div id="datacenter" class="cell col-6"><div>
			<div class="locked">
				<p>A datacenter allows you to build a farm of many mass-produced servers to increase mining capacity.</p>
				<span class="button">Purchase Empty Garage | 3cc</span>
			</div>
		</div></div>
	</div>
</div>
