@import "global/utils";
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,700);

html {
	background: $background-color;
	color: $green;
	font-family: "Fira Sans", sans-serif;
	font-weight: 300;
	font-size: 10pt;
	height: 100%;
	
	#click-coin {
		margin: 50px auto 0 auto;
		width: $width;
		
		.grid {			
			.cell {
				padding: 10px;
				
				strong {
					color: $green-y2;
				}
				
				> div {
					border: 1px solid $green-y1;
					padding: 10px;
				}
			}
				
			#hardware {
				.component {
					.amount {
						float: right;
						color: $green-b2;
					}
					
					.tier {
						line-height: 28px;
					}
				}
				
				#cpu {
					
				}
				
				#gpu {
					
				}
				
				#ram {
					
				}
				
				#ram-allocation {
					#unallocated-ram {
						text-align: center;
						color: $green-y1;
					}
					
					.allocation {
						.title {
							float: left;
							height: 10px;
						}
						
						.allocated {
							float: right;
							color: $green-b2;
							height: 10px;
						}
						
						.percent {
							color: $green-dark;
						}
					}
				}
				
				#hardware-upgrades {
					padding: 6px 0;
					
					#upgrade-cpu {
						float: left;
					}
					
					#upgrade-gpu {
						float: right;
					}
				}
			}
			
			#software {
				#miner {
					@include unselectable;
				
					#mine-button {
						float: right;
					}
					
					#program {
						font-weight: 400;
					}
				}
			}
			
			#currency {
				.amount {
					float: right;
					color: $green-b1;
				}
			}
			
			#company {
				.upgrade {
					display: inline-block;
					padding: 4px;
					width: 40px;
					height: 40px;
					overflow: hidden;
					margin: 4px;
				}
			}
		}
		
		.separator {
			margin: 6px 0;
			height: 1px;
			background-color: $green-y2;
		}
		
		.locked {
			padding: 10px;
			text-align: center;
		}
			
		#row-1 .cell > div { min-height: 150px; }
		#row-2 .cell > div { min-height: 10px; }
		#row-3 .cell > div { min-height: 200px; }
	}
	
	.cc-icon {
		position: relative;
		top: 1px;
	}
	
	.button .cc-icon {
		padding: 0 2px 0 5px;
	}
}

// Let's slit box model's throat before it has a chance to do evil
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}